*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


/*Nav*/
.nav-mobil{
    display: none;
}
.logo > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.header{
    background-color: #1d2d44;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav .nav-desktop ul{
    display: flex;
    list-style: none;
}
.nav .nav-desktop a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 20px;
    padding-right: 10px;
}

.nav .nav-desktop a:hover{
    color: #96e6b3;
}

 /*Main*/
.main-consejos{
  min-height: 100vh;
}
 /* Consejo generales ocupa todo el ancho */
.consejos-generales {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-top: 50px;
    text-align: center;
}
.consejos-generales ul{
list-style: none;
}
.consejos-generales >.seccion-consejos-generales{
  background-color: #F8F1E5;
  width: 50%;
  height: 270px;
  padding-top: 50px;
  border-radius: 40px;
  margin: 0 auto;

}
.consejos-generales >.seccion-consejos-generales li{
  margin-top: 10px;
}

/* Contenedor flex para perros y gatos uno al lado del otro */
.contenedor-perros-gatos {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 80%;
}

/* Cada columna ocupa 50% o menos */
.consejos-perros,
.consejos-gatos {
    flex: 1;
    background-color: #F8F1E5;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 40px;
    list-style: none;
    text-align: center;
}
.consejos-gatos{
  margin-left: 100px;
}
.consejos-perros-seccion{
  padding-bottom: 20px;
}
.consejos-perros-seccion ul{
  list-style: none;
}
.consejos-perros-seccion > h2{
  margin-bottom: 20px;
}

.consejos-gatos-seccion{
  padding-bottom: 20px;
}
.consejos-gatos-seccion > ul{
  list-style: none;
}
.consejos-gatos-seccion > h2{
  margin-bottom: 20px;
}




/*Footer y Redes*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #1d2d44;
}
.redes{
    display: flex;
}
.redes a{
    display: inline-block;
    padding-top: 4px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 10px;
}
.contacto-instagram{
    width: 30px;
    height: 30px;
}
.contacto-facebook{
    width: 30px;
    height: 30px;
}
.contacto-twitter{
    
    width: 28px;
    height: 28px;
    padding-right: 15px;
    padding-bottom: 5px;
}
.redes .twitter{
    margin-top: 25px;
}
.twitter{
    background-color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
}
.redes .email{
    color: #c9c8c7;
    margin-top: 30px;
    margin-right: 100px;
}



@media screen and (min-width: 300px) and (max-width: 700px) {
 
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevenir scroll horizontal */
  width: 100%;
}


  /* Header y navegación */
  .header {
    width: 100%;
    display: flex;
    background-color: #1d2d44;
    margin: 0px;
    padding: 0px;
  }
  .header .nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .nav-desktop {
    display: none;
  }
  .nav .nav-mobil{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .nav .nav-mobil ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 50px;
  }

  .nav-mobil li {
    list-style: none;
  }
  .nav-mobil a {
    font-size: 18px;
    color: #fff;
    padding: 0px;
    margin-right: 10px;
    text-decoration: none;
  }

  /*Main*/
 .consejos-generales > .seccion-consejos-generales{
    width: 100%;

  }
  .consejos-gatos{
  margin-left: 10px;
}

  .contenedor-perros-gatos {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px;
    }



  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d2d44;
    padding: 20px;
  }

  .redes {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .redes a img {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .redes .email {
    color: #c9c8c7;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }
}