*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*Nav*/
.nav-mobil{
    display: none;
}
.logo > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.header{
    background-color: #1d2d44;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav .nav-desktop ul{
    display: flex;
    list-style: none;
}
.nav .nav-desktop a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 20px;
    padding-right: 10px;
}

.nav .nav-desktop a:hover{
    color: #96e6b3;
}


.contenedor-logo-cuidados > img{
    width: 80px;
    height: 80px;
}
.contenedor-logo-calendario > img{
    width: 80px;
    height: 80px;
}
.contenedor-logo-consejos > img{
    width: 80px;
    height: 80px;
}
.contenedor-logo-informacion > img{
    width: 80px;
    height: 80px;
}


/*Main*/
.main{
    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
}
.sobre-nosotros{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
}
.sobre-nosotros > .contenedor-main-texto{
    width: 50%;

}
.contenedor-main-texto h3{
    margin-top: 20px;
}
.contenedor-main-texto p{
    margin-top: 20px;
}
.consulta-IA {
  width: 500px;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-top: 50px;
}

.consulta-IA:focus {
  border-color: #007BFF;
  box-shadow: 0 0 0 3px #0056b3;
}

.btn-enviar {
  width: 80px;
  padding: 12px 16px;
  margin-left: 8px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #0056b3;
}

.contenedor-img-main > img{
    width: 300px;
}



/*Servicios*/

.servicios{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    padding-bottom: 120px;
}

.servicios > .tips-cuidados{
    background-color: #F5F5F5;
    width: 34%;
    height: 350px;
}
.servicios section{
    border-radius: 50px;
}
.servicios section p{
    margin-top: 18px;
}

.servicios section a{
    display: inline-block;
    background-color: #083D77;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
}
.servicios section a:hover{
    box-shadow: 1px 3px 5px #1a73c7;
}

.servicios section img{
    margin-top: 50px;
}
.servicios > .calendario{
    background-color: #F5F5F5;
    width: 34%;
    height: 350px;
}
.servicios > .consejos{
    background-color: #F5F5F5;
    width: 34%;
    height: 350px;
    margin-top: 50px;
}
.servicios > .informacion{
    background-color: #F5F5F5;
    width: 34%;
    height: 350px;
    margin-top: 50px;
}

/*Premiun*/
.premium{
    display: flex;
    background-color: #F5F5F5;
    height: 60%;
    justify-content: space-around;
    padding: 80px 0;
    
}
.contenedor-imagen-premium > img{
    width: 300px;
}
.contenedor-texto-premium{
    margin-top: 50px;
}
.contenedor-texto-premium > h2{
    margin-bottom: 20px;
}

.contenedor-texto-premium > a{
    background-color: #083D77;
    width: 160px;
    height: 60px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    margin-top: 80px;
    text-align: center;
    padding-top: 18px;
    font-size: 20px;
    float: right;
}

.contenedor-texto-premium > a:hover{
    box-shadow: 1px 3px 5px #1a73c7;
}
/*Footer y Redes*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #1d2d44;
}
.redes{
    display: flex;
}
.redes a{
    display: inline-block;
    padding-top: 4px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 10px;
}
.contacto-instagram{
    width: 30px;
    height: 30px;
}
.contacto-facebook{
    width: 30px;
    height: 30px;
}
.contacto-twitter{
    
    width: 28px;
    height: 28px;
    padding-right: 15px;
    padding-bottom: 5px;
}
.redes .twitter{
    margin-top: 25px;
}
.twitter{
    background-color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
}


/*Arreglando el footer*/
html, body {
    height: 100%; 
    margin: 0; 
}

/* body {
    display: flex;
    flex-direction: column;  
    min-height: 100vh; 
} */



